{% extends "base.html" %}

{% block title %}Tadımlık – Muamma{% endblock %}
{% block body_class %}has-band{% endblock %}
{% block state %}{{ "opened" if play and play.status != "in_progress" else "sealed" }}{% endblock %}

{% block band %}
  {% set band_title = "Tadımlık muamma" %}
  {% include "partials/_band.html" %}
{% endblock %}

{% block content %}
  {% include "_puzzle.html" %}
  <p class="intro"><a href="{{ url_for('main.practice_random') }}">Başka bir tadımlık</a></p>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
{% endblock %}
